[Unit]
Description=ErrorLog Service
After=network.target

[Service]
ExecStart=/usr/local/bin/errorlog.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target